body {
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/prueba.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
.text {
    background-color: rgba(0, 0, 0, 0.5); 
    color: yellow; /* Color de letra */
    padding: 10px;
    border-radius: 8px;
}

.text th {
    color:white; 
    font-weight: bold;
}